@page
@model RazorPagesPayment.Pages_Payment.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Añadir</h1>

<h4>Pregunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payment.Pago" class="control-label"></label>
                <input asp-for="Payment.Pago" class="form-control" />
                <span asp-validation-for="Payment.Pago" class="text-danger"></span>
            </div>
            <!-- <div class="form-group">
                <label asp-for="Payment.ReleaseDate" class="control-label"></label>
                <input asp-for="Payment.ReleaseDate" class="form-control" />
                <span asp-validation-for="Payment.ReleaseDate" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="Payment.Price" class="control-label"></label>
                <input asp-for="Payment.Price" class="form-control" />
                <span asp-validation-for="Payment.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Devuelta a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
