@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, User!, Welcome</h1>
    <p>Bienvenido a Q&A, Pregunta y se te contestara</p>
</div>
